<%- include ../../partials/header.ejs %>

    <body>
        <%- include ../../partials/navbar.ejs %>
            <div class="container" id="new_cat" >
                <div class="card bg-dark">
                    <div class="card-header">
                        <h3>Editar categoria</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/categories/update">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <input type="hidden" name="slug" value="<%= category.slug %>">
                            <input class="form-control" type="text" placeholder="Digite a categoria a ser editada"
                                name="title" value="<%= category.title %>"><br>
                            <button class="btn btn-success">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>

<%- include ../../partials/footer.ejs %>
