<%- include ../../partials/header.ejs %>

  <body>
    <%- include ../../partials/navbar.ejs %>
    <h2 >Usuários</h2>
        <table class="table table-dark table-striped" >
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Category</th>
              <th scope="col">Hash</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user=>{ %>
              <tr>
                <th style="max-width: 10%;">
                  <%= user.id %>
                </th>
                <th style="max-width: 10%;">
                  <%= user.email %>
                </th>
                <th style="max-width: 10%;">
                  <%= user.password %>
                </th>
                <!--<th>
                  <a href="#" class="btn btn-warning" id="bt_edit">Editar</a>
                  <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="deletarCat(event,this)">
                    <input type="hidden" name="id">
                    <button class="btn btn-danger">Deletar</button>
                  </form>
                </th>
                -->
              </tr>
              <% }) %>
          </tbody>
        </table>
        <a style="height: 2%; margin: 1%;" class="btn btn-success float-end " href="/admin/users/create"> Criar usuário</a>

      </body>
  <%- include ../../partials/footer.ejs %>
  <script>
    function deletarCat(event,form){
        event.preventDefault();
        var decision=confirm('Você realmente quer deletar essa categoria?');
        if(decision){
          form.submit();
        }
      }

  </script>